<label for="chatBotState" class="chatBotBtn">
    <i class="fa fa-rocket fa-2x"></i>
</label>

<input id="chatBotState" type="checkbox" hidden/>
<div class="chatContent">
    <div class="headerChat">
        <p> H-Bot</p>
        <label for="chatBotState"><i class="fa fa-close"></i></label>
    </div>
    <div class="listMsg">
        <div class="backg"></div>
        <div class="msgs" #listMesgContent id="listMesgContent">
            <p class="msg">Hello! I am your assistant!</p>
            <p *ngFor="let msg of listMsg; let index = index;" class="msg">{{msg["message"]}}</p>
        </div>
        <form (submit)="sendMesg($event,userInput,listMesgContent)" class="msgInput">
            <input type="text" #userInput autocomplete="off" placeholder="message ..." class="inputMesg" id="idMesg" />
            <button><i class="fa fa-send"></i></button>
        </form>
    </div>
</div>