<section class="section section-lg pb-0">
    <div class="container">
        <div class="row row-grid justify-content-center">
            <div class="col-lg-10 text-center">
                <h2 class="display-3">A hotel, really?
                    <span class="text-success">Stay with us and be happy</span>
                </h2>
                <p class="lead">No matter who you are, what you do or where you stay, we understand that your time is precious. That's why we've put all the world's knowledge and expertise at your fingertips to make your stay with us as simple and effortless as possible.</p>
                <div class="text-center">
                    <h4 class="display-4 mt-5">Available on these styles :</h4>
                </div>
            </div>
        </div>
    </div>
</section>